<?xml version="1.0"?>
<config>
	<modules>
		<WeDoWebApps_BohoMagic>
			<version>0.1.0</version>
		</WeDoWebApps_BohoMagic>
	</modules>
	<frontend>
		<routers>
			<bohomagic>
				<use>standard</use>
				<args>
					<module>WeDoWebApps_BohoMagic</module>
					<frontName>bohomagic</frontName>
				</args>
			</bohomagic>
		</routers>
		<layout>
			<updates>
				<bohomagic>
					<file>bohomagic.xml</file>
				</bohomagic>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<bohomagic>
				<class>WeDoWebApps_BohoMagic_Helper</class>
			</bohomagic>
		</helpers>
		<blocks>
			<bohomagic>
				<class>WeDoWebApps_BohoMagic_Block</class>
			</bohomagic>
		</blocks>
	</global>
</config> 