<?xml version="1.0"?>
<config>
  <modules>
    <Rivhit_Icreditgateway>
      <version>0.1.0</version>
    </Rivhit_Icreditgateway>
  </modules>
  <global>
    <models>
      <icreditgateway>
        <class>Rivhit_Icreditgateway_Model</class>
      </icreditgateway>
    </models>
    <helpers>
      <icreditgateway>
        <class>Rivhit_Icreditgateway_Helper</class>
      </icreditgateway>
    </helpers>
    <blocks>
      <icreditgateway>
        <class>Rivhit_Icreditgateway_Block</class>
      </icreditgateway>
    </blocks>
  </global>
  <default>
    <payment>
      <icreditgateway>
        <model>icreditgateway/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>iCredit credit card</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>10</sort_order>
      </icreditgateway>
    </payment>
  </default>
  <frontend>
    <routers>
      <icreditgateway>
        <use>standard</use>
        <args>
          <module>Rivhit_Icreditgateway</module>
          <frontName>icreditgateway</frontName>
        </args>
      </icreditgateway>
    </routers>
  </frontend>
</config>
