<?xml version="1.0"?>
<config>
    <modules>
        <RicardoMartins_OutofstockLast>
            <version>0.2.0</version>
        </RicardoMartins_OutofstockLast>
    </modules>
    <global>
        <models>
            <ricardomartins_outofstocklast>
                <class>RicardoMartins_OutofstockLast_Model</class>
            </ricardomartins_outofstocklast>
            <catalog>
                <rewrite>
                    <layer>RicardoMartins_OutofstockLast_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>

            <catalogsearch>
                </catalogsearch>
            <catalogsearch_mysql4>
              
            </catalogsearch_mysql4>
        </models>
    </global>
</config>